body{
    background-color: black !important;
    font-family: 'Space Grotesk', sans-serif !important;
}
#every,h1,h2,h3,h4,h5,h6{
    font-family: 'Space Grotesk', sans-serif;
}
header{
    border-bottom: 1rem !important;
    width: 90vw;
    margin: auto;
}
.fs-4{
    color: white;
}
#sec1{
    width: 90vw;
    height: 95vh;
    margin: auto;
}

/* .rounded{
    width: 300 px;
    margin-left: auto;
}
.rounded img{
    border-radius: 50%;
} */

#wholeprofile{
    width: 90vw;
    height: 75vw;
    position: relative;
    margin: auto;
}
#pic{
    width: 30vw;
    height: min-content;
    position: absolute;
    top: 0;
    text-align: right;
    /* border-radius: 50%; */
}
.rounded{
    width: 700 px;
    margin: auto;
    
}
.rounded img{
    border-radius: 100%;
} 

#more p#name{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 7vw;
    color: white;
    transition: 0.5s;
}
#more p#name:hover{
    text-shadow: 0px 0px 15px #8560db;
    transition: 0.5s;
}
@media screen and (max-width: 1200px) {
    #sec1{
        height: 60vw;
    }
}
@media screen and (max-width: 815px) {

    #wholeprofile{
        display:flex;
        flex-wrap: wrap;
        position: absolute;
    }
    #pic{
        position: relative;
        display: block;
        top: auto;
    }
    #more{
        bottom: 0px;
    }
    
}
@media screen and (max-width: 1005px) {
    .navbar-nav{
        width: 100vw;
        justify-content: space-around;

        background-color: tomato;
    }
}




.nav-item{
    color:white !important;
}
p{
    font-family: 'Space Grotesk', sans-serif;
}
#more p{
    font-size:  large;
    color: white;
}

#more{
    width: 60vw;
    height: 60vh;
    position: absolute;
    text-align: left;
    right: 0;
    top: 0;
    padding: 3vw 3vw  0vw 3vw;
}
#more:hover{
    text-shadow: turquoise !important;
    transition: 0.5s;
}
button#white{
    color: black !important;
    background-color: white !important;

}
.btn-dark{
    border-radius: 100px !important;
}
button#white:hover{
    color: white !important;
    background-color: black !important;
    transition: 0.5s;
}
button#black:hover{
    color: black !important;
    background-color: white !important;
    transition: 0.5s;
}
/* #idLinkedInIcon {
    background-color: rgb(0,102,170);
    border-radius: 6px;
    color:white;
    cursor: pointer;
    display:inline-block;
    font: bold 35px Arial, Helvetica, sans-serif;
    height: 40px;
    margin-top: 1px;
    text-align: center;
    width: 40px;
}
#idLinkedInIcon:hover{background-color: #06d;} */
#idLinkedInIcon{background-color:rgb(0, 102, 170);border-radius:6px;color:white;cursor:pointer;display:inline-block;font:bold 35px Arial, Helvetica, sans-serif;height:40px;margin-top:1px;text-align:center;width:40px;}
#idLinkedInIcon:hover{background-color:#06d;}

#resume, #contact, #submit{
    /* width: 100px; */
    height: max-content;
    width: max-content;

    padding: 1vw 2vw 1vw 2vw;
    border: thin solid white;
    border-radius: 4px;
    color: white; 
    background-color: black;
    font-size: small;
    transition: ease-out 0.3s;
    position: relative;
    z-index: 1;
}
#resume:hover, #contact:hover, #submit:hover{
    background-color: white; 
    color: black;
    border: 3px solid black;
    font-weight: bold;
    cursor:pointer;
}
#resume:before, #contact:before, #submit:before{
    transform: 0.5s all ease; 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 50%;
    opacity: 0; 
    content: "";
    background-color: white;
}
#resume:hover:before, #contact:hover:before, #submit:hover:before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1; 
    z-index: -1;
}








#info{
    display: flex;
    width: 90vw;
    margin: auto;
    flex-wrap: wrap;
    height: min-content;
    justify-content: space-around;
}

#about,#para{
    transition: 0.5s;
    background-color: pink;
    padding: 4vw;
    height: fit-content;
}
#about:hover, #para:hover{
    transform: translateY(-1%);
    transition: 0.5s;
    box-shadow: 0 10px 16px 0 #7DFDFE, 0 6px 20px 0 #7DFDFE !important;
}
/* #para{
    width: 40vw;
} */
div#every{
    padding-right: 3vw;    
}
/* #about{
    width: 40vw;
    height: fit-content;
    padding: 4vw;
} */
.common{    
    height: fit-content;    
}
.common h5{
   font-weight: bolder; 
}

#every h4{
    display: inline-block;
}
.common p{
    font-size: larger;
    line-height: 3vw;
}
dd.col{
    font-size:large;
}

/* education: BACHELORS */
.green{
    display: flex;
    /* width: 50vw; */
    /* margin: auto; */
    flex-wrap: wrap;
    height: min-content;
    justify-content: space-around;
}

.green para{
    transition: 0.5s;
    background-color: grey;
    padding: 4vw;
    height: fit-content;
}
.green:hover, #para:hover{
    transform: translateY(-1%);
    transition: 0.5s;
    box-shadow: 0 10px 16px 0 #7DFDFE, 0 6px 20px 0 #7DFDFE !important;
}
/* #para{
    width: 40vw;
} */
div#every{
    padding-right: 3vw;    
}
.green{
    width: 0vw;
    /* height: fit-content; */
    padding: 4vw;
}
/* .green{    
    height: fit-content;    
} */
/* @media screen and (max-width: 800px) {
    #info {
      display: flex;
      box-shadow: none;
      border: none;
    }
    div#about{
        width: 90vw;
        max-width: 90vw;
        background-color: white;
        box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
        margin-bottom: 5vw;
    }
    div#about p{
        line-height: 5vw;
    }
    div#para{
        width: 90vw;
        height: fit-content;
        padding: 4vw;
        max-width: 90vw;
        background-color: white;
    }
  }
  @media screen and (max-width: 700px) {
    div#all,div#all1{
        display: block;
    } */
    div.green{
        /* width: 90vw; */
        height: fit-content;
        padding: 4vw;
        /* max-width: 90vw; */
        background-color: 1e1f22;
        color: white;
    }

    /* ASSOCIATES DEGREEE */
    div.detail{
        text-align: center;
        /* width: 90vw; */
    }
    .green h1,.green h4{
        transform: translateY(50%);
    }
  }






#para h5, #para p{
    display: inline-block;
}
.p{
    text-indent: 1vw;
}
#education{
    /* width: 90vw; */
    max-width:fit-content;
    /* margin: auto; */
    height: fit-content;
}
#all,#all1{
    transition: 0.5s;
    max-width: 1100px;
    display: flex;
    justify-content: center;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
    width: 45vw;
    /*height: 50vw;*/
    margin: auto;
    /* max-height: min-content;   */
    
}
#all:hover,#all1:hover{
    transform: translateY(-1%);
    transition: 0.5s;
    box-shadow: 0 10px 16px 0 #7DFDFE, 0 6px 20px 0 #7DFDFE !important;  
}

.green{
    width: 10vw;
    /*height: 40vw;*/
    background-color: #1e1f22;
    text-align: center;
    padding: 2vw;
    color: white;
    display: table-cell;
    
    /* horizontal-align: middle; */
    /* height: 30vh; */
}

.detail{
    width: 30vw;
    /*height: 40vw;*/
    /* height: max-content; */
    background-color: white;
    padding: 2vw;
    /* height: 30vh; */
}
#all,#all1{
    max-width: 1100px;
    display: table;
    
}

#basic{
    display: inline-block;    
}
#info1{
    display: inline-block;
}
.detail h3{
    color: brown;
}


.common h3{
    color:#1f7fbeda;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif ;
    font-style: italic;

}

#project{
    width: 90vw;
    margin: auto;
}
.arrow {
    border: solid white;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 10px;
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
#proj-head{
    color: white;
    text-align: center;
}

a:link{
    color: white;
    text-decoration: none;
    background-color:transparent;

}
a:visited{
    color: white;
}
a:hover{
    text-decoration: underline;
}
#tic-tac-toe,#customer,#Hospital,#learning{
    transition: 0.5s;
}
#tic-tac-toe:hover,#customer:hover,#Hospital:hover,#learning:hover{
    transform: translateY(-10%);
    transition: 0.5s;
    box-shadow: 0 10px 16px 0 #7DFDFE, 0 6px 20px 0 #7DFDFE !important;  
}
.slide{

    max-height: 200px;
    overflow: hidden;
    transition: max-height .5s cubic-bezier(.5,0,.1,1);
}
.unslide{
    overflow: hidden;
    max-height: 0px;
    transition: max-height .5s cubic-bezier(.5,0,.1,1);
}
@keyframes slide{
    from{
        height: 0;
    }
    to{
        height: 500px;
    }
}
@keyframes unslide{
    from{
        height: 500px;
    }
    to{
        height: 0;
    }
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
  }
  .timeline {

    width: 90vw;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
  }
  
  .timeline ul {
    list-style: none;
  }
  .timeline ul li {
    padding: 20px;
    background-color: #1e1f22;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .timeline ul li:last-child {
    margin-bottom: 0;
  }
  .timeline-content h1 {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  .timeline-content p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
  }
  .timeline-content .date {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 2px;
  }
  @media only screen and (min-width: 2000px) {
    .timeline:before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 2px;
      height: 100%;
      background-color: gray;
    }
    .timeline ul li {
      width: 50%;
      position: relative;
      margin-bottom: 50px;
    }
    .timeline ul li:nth-child(odd) {
      float: left;
      clear: right;
      transform: translateX(-30px);
      border-radius: 20px 0px 20px 20px;
    }
    .timeline ul li:nth-child(even) {
      float: right;
      clear: left;
      transform: translateX(30px);
      border-radius: 0px 20px 20px 20px;
    }
    .timeline ul li::before {
      content: "";
      position: absolute;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: gray;
      top: 0px;
    }
    .timeline ul li:nth-child(odd)::before {
      transform: translate(50%, -50%);
      right: -30px;
    }
    .timeline ul li:nth-child(even)::before {
      transform: translate(-50%, -50%);
      left: -30px;
    }
    .timeline-content .date {
      position: absolute;
      top: -30px;
    }
    .timeline ul li:hover::before {
      background-color: aqua;
    }
  }

  






#form{
    width: 90vw;
    max-width: 1100px;
    background-color: lightgray;
    margin:auto;
    position: relative;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important
}

span{
    display: inline-block;
}
label{
    color: black;
}

h2{
    color: black;
}
#a{
    display: flex;
    justify-content: space-around;
}
#inputEmail4{
    display: none;
}
#exampleFormControlTextarea1{
    display: none;
}

#form{
    padding: 2vw;
}

#red{
    background-color: grey;
    height: 50vh;
    width: 50vw;
    z-index: 10;
    /* margin-right: 25px; */
    margin: 50px 25px 50px 50px;
    /*display:block;*/
     display: block; 
}

#orange{
    height: 50vh;
    width: 30vw;
    display: flex;
    background-color: blue;
  
    margin: 50px 25px 50px 50px;
}
#new{
    display: flex;
    background-color: white;
    justify-content: space-around;
}